<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC Home Page</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
</head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=edit" />
    <script src="/scripts/cardLoader.js" defer></script>
<body class = "body">
<!--Add header to move cards down and create a professional images-->
<!--Add two dropdown menus hegre to select which division is shown-->
    <div class = "header">
        <div class = "leftSideBar">
            <h1>INSERT ORGANIZATION NAME HERE</h1>
        </div>
        <div class="rightSideBar">
            <a href="/table" role="button">Summary Page</a>
        </div>
    </div>

    <div class = "mainSection">
            <div class="card-grid" id="cardContainer">
                <% Object.entries(Data).forEach(([year, divisions]) => { %>
                <div class = "singlecard">
                    <h2 class="YearCard"><%= year %></h2>
                    <% Object.entries(divisions).forEach(([division, info]) => { %>
                        <div class="division-card">
                            <h3 class="divison-card"><%= division %></h3>
                            <p>Division Chair: <%= info.DivisionChair %></p>
                            <p>Dean: <%= info.Dean %></p>
                            <p>LOC Rep: <%= info.LOCRep %></p>
                            <p>PEN Contact: <%= info.PENContact %></p>
                        </div>
                        <% if (info.Summary) { %>
                            <div class="summary-section">
                              <% Object.entries(info.Summary).forEach(([subject, details]) => { %>
                                <div class="subject-card">
                                  <h3><%= subject %></h3>
                                  <p><strong>Has Been Paid:</strong> <%= details.HasBeenPaid %></p>
                                  <p><strong>Report Submitted:</strong> <%= details.ReportSubmitted %></p>
                                  <p><strong>Notes:</strong> <%= details.Notes %></p>
                                  
                                  <% if (details.Payees) { %>
                                    <h3>Payees:</h3>
                                    <div id="Payee Holder">
                                        <% Object.entries(details.Payees).forEach(([name, amount]) => { %>
                                            <p><%= name %> | <%= amount.toFixed(2) %></p>
                                        <% }) %>
                                    </div>
                                  <% } %>
                                </div>
                                <div class="errors">
                                    <p id = "er-main">Error, please do not leave fields blank</p>
                                </div>
                              <% }) %>
                            </div>
                          <% } %>
                    <%})%>
                </div>
                <%})%>
            </div>
        </div>
</body>
</html>