<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC Summary Table</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
    <link rel = "stylesheet" href = "//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <script src = "https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src = "//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
</head>
<body>
        <div class = "header">
        <div class = "leftSideBar">
            <h1>Learning Outcomes Committee</h1>
        </div>
        <div class="rightSideBar">
            <a href="/" role="button">Division</a>
            <a href="/history" role="button">History</a>
        </div>
        </div>

        <main>
        <header>
        <h1>Summary Page</h1>
        <select id="reviewFilter">
            <option value="">Show All Programs</option>
            <option value="Yes">Programs Under Review</option>
            <option value="No">Programs Not Under Review</option>
        </select>
        <table id = "loc-table" class = "display">
            <thead>
                <tr>
                    <th>Under Review</th>
                    <th>Division Name</th>
                    <th>Division Chair</th>
                    <th>Dean</th>
                    <th>LOC Rep</th>
                    <th>PEN Contact</th>
                    <th>Academic Program</th>
                    <th>Payee(s)</th>
                    <th>Has Been Paid</th>
                    <th>Report Submitted</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                    <% rows.forEach(row => { %>
                    <tr>
                        <td><%= row.UnderReview ? "Yes" : "No" %></td>
                        <td><%= row.DivisionName %></td>
                        <td><%= row.DivisionChair %></td>
                        <td><%= row.Dean %></td>
                        <td><%= row.LOCRep %></td>
                        <td><%= row.PENContact %></td>
                        <td><%= row.ProgramName %></td>
                        <td><%= row.Payees %></td>
                        <td><%= row.HasBeenPaid %></td>
                        <td><%= row.ReportSubmitted %></td>
                        <td><%= row.Notes %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </header>
    </main>
    <script src = "/scripts/summary.js" defer></script>
</body>
</html>