<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOC Summary Table</title>
    <link rel="stylesheet" type="text/css" href="/styles/form-style.css">
    <link rel = "stylesheet" href = "//cdn.datatables.net/2.3.4/css/dataTables.dataTables.min.css">
    <script src = "https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src = "//cdn.datatables.net/2.3.4/js/dataTables.min.js"></script>
</head>
<body>
        <div class = "header">
        <div class = "leftSideBar">
            <h1>Learning Outcomes Committee</h1>
        </div>
        <div class="rightSideBar">
            <a href="/" role="button">Division Page</a>
        </div>
        </div>

        <main>
        <header>
        <h1>Summary Page</h1>
        <table id = "loc-table" class = "display">
            <thead>
                <tr>
                    <th>Division</th>
                    <th>Academic Program</th>
                    <th>Division Chair</th>
                    <th>Dean</th>
                    <th>LOC Rep</th>
                    <th>PEN Contact</th>
                    <th>Payee(s)</th>
                    <th>Has Been Paid</th>
                    <th>Report Submitted</th>
                    <th>Notes</th>
                </tr>
                </thead>
                <tbody>
                    <% rows.forEach(row => { %>
                    <tr>
                        <td><%= row.division %></td>
                        <td><%= row.program %></td>
                        <td><%= row.chair %></td>
                        <td><%= row.dean %></td>
                        <td><%= row.locRep %></td>
                        <td><%= row.penContact %></td>
                        <td><%= row.payees %></td>
                        <td><%= row.paid %></td>
                        <td><%= row.report %></td>
                        <td><%= row.notes %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </header>
    </main>
    <script defer>
        let table = new DataTable('#loc-table');
    </script>
</body>
</html>